.input-group {
  position: relative;
}

.input-group-text {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password i {
  font-size: 18px;
  line-height: 1;
  color: #333;
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.toggle-password i:hover {
  color: #000;
}


/* vertical placing of socila links */
.social-links-vertical {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.social-links-vertical h6 {
  writing-mode: vertical-rl;
  transform: rotate(0deg);
  margin-bottom: 20px;
}
.social-links-vertical a {
  display: block;
  margin-bottom: 10px;
}
.main-content {
  margin: 0 100px; /* Leave space for left and right columns */
}


/* Sidebar */
.sidebar {
  position: relative;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}